html{
    background-color: antiquewhite;
}
div.container{
    min-height: 800px;
    width: 980px;
    border-radius: 50px;
    background-color: wheat;
    margin: 0px 0px 0px 190px;
}
    div.header{
        height: 100px;
        text-align: center;
        background-color: grey;
        margin: 80px 300px 20px 300px;
        color: blanchedalmond;
        border-radius: 0px 0px 20px 20px;
    }
        p.logo{
            margin: -80px;
            font-size: 80px;
        }
    div.top{
        margin: 80px 0px 20px 0px;

        text-align: center;
        height: 80px;
        border-style: none;
        margin-top: -20px;
    }
        ul{
            display: inline-block;
        }
            li.social1,.social2,.social3{
                display: inline-block;
                font-size: 20px;
                padding: 20px;
                font-size: 20px;
                border-style: hidden;
            }
                a.fb_link{
                    text-decoration: none;
                    color: #1878f3;

                }
                a.linkedin_link{
                    text-decoration: none;
                    color: #0077b5;

                }
                a.github_link{
                    text-decoration: none;
                    color: #313131;

                }
                .social1{
                    background-color: white;
                    border-radius: 20px;
                    border-style: double;
                }
                .social2{
                    border-style: hidden;
                }.social3{
                    background-color: white;
                    border-radius: 20px;
                }
    div.info_about_me{
        min-height: 400px;
        background-color: wheat;
        text-align: center;
        border-radius: 10px;
        vertical-align: top;
        margin: 0px 0px 0px 0px;
    }
            .greetings, .about{
                display: inline-block;
            }
            .greetings{
                text-align: left;
                width: 690px;
                border-radius: 180px 0px 0px 0px;
            }
                p.emphasize{
                    font-size: 58px;
                    color: grey;
                    outline-style:groove;
                    margin: 20px 226px 0px -20px;
                }
                .about{
                width: 450px;
                background-color: grey;
                border-radius: 180px 0px 180px 0px;
                padding-top: 20px;
                margin: 20px -25px 0px 45px;
            }
                h2{
                    display: block;
                    color: aliceblue ;
                }
                ul.area{
                    display: inline-block;
                }
                    li.myArea2{
                        text-align: right;
                        display: block;
                        margin-bottom: 20px;
                        font-size: 35px;
                        color: wheat;
                        height: 100px;
                    }
    div.project_done{
        min-height: 450px;
        background-color: grey;
        text-align: center;
        margin: 0px 50px;
        border-radius: 80px 0px 80px 80px;
    }
        .academic_background{
            display: inline-block;
            background-color: wheat ;
            min-height: 450px;
            width: 405px;
            margin-right: -265px;
            border-radius: 0px 0px 20px 20px;
            margin: -1px 0px 20px 20px;
        }
            .ul_acad{
                display: block;
                
            }
                li.acad_pic{
                    display: block;
                    height: 200px;
                    width: 300px;
                    text-align: center;
                }
                    img.acad_pic{
                        height: 300px;
                        width: 300px;
                        border-radius: 190px 0px 00px 190px;
                        margin: -16px 20px 0px 187px;
                }
                li.acad_info{
                    display: block;
                    height: 20px;
                    text-align: justify;
                    padding: 20px;
                    margin: -15px 0px 0px -80px;
                }
                    p.acad_name{
                        font-size: 32px;
                        color: #313131;
                        text-align: justify;
                    }
                    p.course_info{
                        font-size: 20px;
                        margin: 45px 0px 0px 20px; 
                    }
                li.acad_info2{
                    display: inline-block;
                    text-align: center;
                    padding: 0px;
                    margin: 40px 50px -10px -10px;
                }
                    img.acad_info2{
                        max-height: 60px;
                        max-width: 60px;
                    }
                    
            
        .project2{
            display: block;
            background-color: wheat;
            min-height: 450px;
            width: 550px;
            border-radius: -0px 20px 0px 20px;
        }   
            p.last_about{
                font-size: 30px;
            }
            p.myGreeting{
                text-align: justify;
                margin: 40px 50px 0px 10px;
                font-family: 'Courier New', Courier, monospace;
                font-size: 20px;

            }
            p.myLife{
                text-align: justify;
                margin: 40px 50px 0px 10px;
                font-family: 'Adele', Adele;
                font-size: 18px;
                text-indent: 70px;

            }
            
